# LangChain Core
langchain==0.1.16
langchain-core==0.1.42
langchain-community==0.0.32
langchain-openai==0.0.7
langchain-google-genai==0.0.8
langchainhub==0.1.15

# LLM Providers
openai==1.31.1
google-generativeai==0.3.2
google-api-core==2.18.0

# Tooling
duckduckgo-search==5.2.2

# UI
streamlit==1.26.0

# Utilities
tqdm==4.66.0